* {
    color: bisque;  
    font-family: Garamond, serif;
}

body {
    background-color: #3B3B3B;  
}   

/* CSS FOR INDEX */

ul .top-container .carrotcake-container li {
    margin-bottom: 10px;
}

ul .top-container .chicken-container li {
    margin-bottom: 10px;
}

ul .bot-container li {
    margin-bottom: 10px;
}

.carrotcake-container,
.chicken-container {
    display: inline-block;
    margin: 1em;
}

.bot-container {
    display: block;
    margin: 0 auto;
}

.index-img {
    width: 300px;
    height: 200px;
    border: 1px groove bisque;
}

h1 {
    text-align: center;
    font-size: 40px;
}

a {
    text-decoration: none;
}

/* CSS FOR RECIPES */

.container {
    width: 80%;
    border: 2px solid bisque;
    background-color: #222222;
    margin: 0 auto;
}

p {
    text-align: center;
}   

#head {
    text-align: center;
}

#main-list {
    list-style: none;
}   

.recipes-imgs {
    display: block;
    width: 400px;
    height: auto;
    margin: 0 auto;
}

.description {
    text-align: center;
}

.head-container {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.head-container p {
    font-size: 20px;
}

.ing-container {
    margin: 1em;
}

.direction-container {
    margin: 1em;
}