* {
    color: bisque;  
    font-family: Garamond, serif;
}

body {
    background-color: #222222;  
}   

h1 {
    text-align: center;
    font-size: 40px;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 40px;
    padding-top: 20px;
}

div {
    text-align: center;
}

p {
    text-align: center;
}   

#head {
    text-align: center;
}